$main_color: #fff;
$second_color: #641fb1;
$darker_second_color: #220c3b;
$active_color: #2be6ab;

$lighter_text_color: #fff;
$main_text_color: #6c6e7e;
$darker_text_color: #0b1033;
$link_color: #222;
$icon_color: #333;
$post_dat_bg: #6a23b5;

$card_bg: #f5faf8;

$main_transition: all 0.4s ease 0s;

$font_family_title: "Oswald", sans-serif;
$font_family_text: "Roboto", sans-serif;