.form {
  .input {
    outline: none;
    width: 100%;
    margin-bottom: 2.6rem;
    border: none;
    background: #f6edfb;
    padding: 1.7rem 2rem;
    font-size: 1.4rem;
    font-style: italic;
  }
  .input--textarea {
    height: 26rem;
  }
}
